<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<contextName>neo4jKoans</contextName>
	<jmxConfigurator />

	<appender class="ch.qos.logback.core.ConsoleAppender" name="RootConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
		<!--   	<pattern>%d{yyyy-MM-dd HH:mm:ss},%p,%c{0}, %ex %m%n</pattern> -->
			
		   	<pattern>%d{yyyy-MM-dd HH:mm:ss},%p,%c,%t,%ex %m%n</pattern>  
			
		</encoder>
	</appender>
 
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender"
		name="RootFileAppender">
		<append>false</append>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<file>/home/dhenton/logs/testing.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>$/home/dhenton/logs/wrapper-%d{yyyy-MM-dd}.gz
			</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss},%p,%c,%t,%ex %m%n</pattern>
		</encoder>
	</appender>
 
        <logger name="org.neo4j">
		<level value="WARN" />
	</logger>
         <logger name="neo4j">
		<level value="WARN" />
	</logger>
	<logger name="org.neo4j.tutorial">
		<level value="DEBUG" />
	</logger>
	 
	<root>
		<level value="DEBUG" />
		<appender-ref ref="RootConsoleAppender" />
		<appender-ref ref="RootFileAppender" />
	</root>
</configuration>